
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html ,body{
  scrollbar-width: none;
  overflow-wrap: anywhere;
  scroll-behavior: smooth;
}

#main-content{
  /* background-image: url('../public/images/'); */
  background-color: blue;
  height: 100vh;
}
.bg-blue-300 {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.toggle-btn{
  display: none;
  flex-direction: column;
}
.toggle-btn button{
 width: 100px;
 background-color: darkgrey;
 opacity: 100%;
min-height: 20px; 
margin-bottom: 10px;
}
.call-box-1{
  width: 100%;
}
.heading{
  font-size: 40px;
  font-weight: bold;

}
.transaction h2{
  font-size: 32px;
  font-weight: 500;
}
.transaction{
  padding-bottom: 20px;
}
.transaction p{
  font-weight: 400;
  font-size: 18px;
}
.list-transactions,.heading{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.transaction-content{
   background-color: white;
   box-shadow: 4px 4px 4px 4px;
   padding: 8px;
   z-index: 1;
}
@media screen and (max-width:800px) {
  .toggle-btn{
    display: flex;
  }
  .app{
    max-width: 1200px;
  }
  #sidebar{
    display: none;
    width: 0;
    border-right: none;
  }
  #main-content{
    max-width: 800px;
    margin-left: 0;
  }
  .top-call-action{
    overflow: hidden;
    margin: 0 0 20px 10px;
  }
  .call-box-1 {
     width: 600px;
     padding-left: 10px;
     padding-right: 10px;
     min-width: 320px;
  }
  .user-account h2{
    font-size: 35px;
  }
  .user-account p{
    font-size: 22px;
  }
  .user-account img{
    width: 80px;
    height: 80px;
  }

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation-name: slide;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .animate-slide {
    animation-duration: 15s; /* Slower animation on small screens */
  }

  .w-44 {
    width: 10rem; /* Adjust box width for better visibility */
  }
}
